.container{
    margin: 30px 50px;
    max-width: 90vw;
}
.center{
    margin-top:-20px ;
    text-align: center;
    margin-bottom: 20px;
}
.h2{
    margin-top: 20px;
}
.list{
    /* list-style: none; */
    margin: 10px 34px;
}
@media only screen and (max-width:600px)
{
    .container{
        margin:55px 50px;
        max-width: 90vw;
    }
}